.GenerateCard {
    width: 100%;
    color: white;
    align-items: center;
}

.head {
    font-size: 200%;
    word-spacing: 5px;
    letter-spacing: 1px;
    padding: 0 5px 0 14px;
    font-family: "Oswald", sans-serif;
    animation: stretch 5s infinite ease;
    border-bottom: 2px solid rgba(31, 127, 146, 0);
}

@keyframes stretch {
    0% {
        word-spacing: 5px;
        letter-spacing: 1px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
    25% {
        word-spacing: 30px;
        letter-spacing: 10px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    50% {
        word-spacing: 30px;
        letter-spacing: 10px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    100% {
        word-spacing: 5px;
        letter-spacing: 1px;
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
}

.text {
    font-size: 90%;
    font-weight: 600;
    word-spacing: 2px;
    margin-block: 30px;
    letter-spacing: 1px;
    font-family: "Mukta", sans-serif;
}

.remaining {
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.cards-info {
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
}

.GenerateCard-btn,
.no-hover {
    width: 150px;
    height: 40px;
    font-weight: 600;
    border-radius: 5px;
    margin-block: 30px;
    padding-bottom: 3px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    color: rgb(31, 126, 146);
    background-color: #141b1c00;
    border: 1px solid rgb(31, 126, 146);
}

.GenerateCard-btn:hover {
    cursor: pointer;
    box-shadow: -1px 1px 10px rgb(31, 126, 146), 1px -1px 10px rgb(31, 126, 146);
}

.GenerateCard-cards {
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card {
    position: absolute;
    height: 290px;
}

/* loading effect */
.square {
    width: 15px;
    right: 35px;
    height: 15px;
    border-radius: 2px;
    background-color: rgb(131, 232, 255);
    animation: loading 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loading {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@media (max-width: 500px) {
    .App {
        height: 100vh;
    }

    .text, .remaining {
        scale: 1.1;
    }

    .GenerateCard {
        top: 0px;
        scale: 0.8;
        height: 100vh;
        position: absolute;
    }

    .GenerateCard-cards {
        scale: 0.9;
        margin-top: 30px;
    }
}
